---
import '@fontsource-variable/onest';
import Header from '../components/sections/Header.astro';
import Footer from '../components/sections/Footer.astro';
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="absolute p-0 m-0 inset-0 -z-10 h-full w-full items-center px-5 bg-black pulse-animation">
  	
		<!-- Negro con iluminaciones -->
		<!-- <div class="absolute top-0 z-[-2] h-screen w-screen bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"> -->
		<!-- Negro y morado degradado -->
		<!-- <div class="absolute inset-0 -z-10 h-full w-full items-center px-5 py-24 [background:radial-gradient(125%_125%_at_50%_10%,#000_40%,#63e_100%)]"> -->
		<!-- Negro y cyan degradado -->
		<Header id="top" />
		<!-- <div class="absolute p-0 m-0 inset-0 -z-10 h-full w-full items-center px-5 py-24 [background:radial-gradient(90%_200%_at_100%_50%,#000_100%,#0ff_200%)]">
		</div> -->
		<slot />
		<Footer />
	</body>
</html>
<style is:global>
	:root {
		color-scheme: light dark;
	}

	html {
		height: 100%;
		margin: 0;
		font-family: 'Onest Variable', system-ui, sans-serif;
		scroll-behavior: smooth;
	}
	
	body {
		background: #050505;
		display: flex;
		flex-direction: column;
		height: 100%;
		margin: 0;
		background: #050505;
		background: radial-gradient(5% 200% at 0% 50%, rgba(0, 255, 255, 0.342), transparent 100%), radial-gradient(5% 200% at 100% 50%, rgba(0, 255, 255, 0.342), transparent 100%);
		background-color: #050505;
		overflow-x: hidden;
		transition: all 1.5s;
	}

	@keyframes pulse {
      0%, 100% {
		transition: all 1.5s;
        background: #050505;
		background: radial-gradient(5% 200% at 0% 50%, rgba(0, 255, 255, 0.342), transparent 100%), radial-gradient(5% 200% at 100% 50%, rgba(0, 255, 255, 0.342), transparent 100%);
		background-color: #050505;
      }
      50% {
		transition: all 1.5s;
        background: #050505;
		background: radial-gradient(7% 200% at 0% 50%, rgba(0, 255, 255, 0.342), transparent 100%), radial-gradient(7% 200% at 100% 50%, rgba(0, 255, 255, 0.342), transparent 100%);
		background-color: #050505;
      }
    }
    /* Clase para la animación */
    .pulse-animation {
      animation: pulse 2s infinite;
	  transition: all 1.5s;
    }

	@media (prefers-reduced-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
	}
</style>
<!-- Script para agregar la clase de animación cuando se carga la página -->
<!-- <script>
	// Función para agregar la clase de animación
	function startAnimation() {
		document.body.classList.add('pulse-animation');
	}

	// Disparar la función al cargar la página
	document.addEventListener('DOMContentLoaded', startAnimation);
</script> -->
